*{
    /* margin: 0; */
    /* padding: 0; */

}
.body{
    width: 80%;
}


#header{
    height: 100px;
    background-color: rgb(39, 162, 245);
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 30% ;
}

#logo-img{
    height: 50%;
}

#title{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.thin-text{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: gray;
}
#thin-text-small{
    font-size: 0.8em;
}

#blue-text{
    color: rgb(49, 148, 234);
}