*{
    /* margin: 0; */
    /* padding: 0; */

}
.body{
    width: 80%;
    font-family: 'Roboto Slab', serif;
    
}

/* header */

#header{
    height: 100px;
    background-color: rgb(39, 162, 245);
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 30% ;
}
#logo-img{
    height: 50%;
}

#title{
    font-weight: 500;
}

/* fine header */



.thin-text{
    font-weight: 400;
    color: gray;
}
.thin-text-small{
    font-size: 0.8em;
}

#blue-text{
    color: rgb(49, 148, 234);
}

/* Evidensiatore giallo */
.style-yellow{
    background-color: rgb(255, 255, 0);
}

/* stile tabella */
table{
    width: 100%;
}

#tre-thead{
    width: 50%;
}

.dublecolor-table{
    background-color: rgb(139, 224, 255);
}
thead{
    background-color: rgb(34, 122, 246);
    
}

.text-thead{
    color: white;
}

/* fine stile tabella */
#text-pub1{
    font-weight: 500;
    color: gray;
}
.image-pub{
    height: 200px;
    width: 300px;
    font-size: 2em;
    color: white;
    margin: 1%;
}

#pub1{
    background-image: url(../img/monitor.jpg);  
}
#pub2{
    background-image: url(../img/graph.jpg);  
}